.main__aboutCart {}


/* .main__aboutCart>.header__nav {
   
   display: flex;
   align-items: center;
   justify-content: space-evenly;

} */

.main__aboutCart {
   padding: 0 100px;
   /* border: 1px solid blue; */
}


.main__aboutCart>.header__nav {
   padding: 0;
   border-bottom: 1px solid #00000033;
   display: flex;
   align-items: center;
   justify-content: space-between;
}


.aboutCart__nav {}


/* .aboutCart__form {
   max-width: 500px;
   width: 100%;
} */

.aboutCart__search {}

.aboutCart__input {}

.item_2 {
   display: none;
}


.main {
   margin-top: 5em;
}

.main__graphic {}

.main__rating {}

.main__might {
   margin-top: 3em;
}

/* GRAPHIC===================================================================================== */
/* GRAPHIC===================================================================================== */



.graphic__inner {
   width: 100%;
}

.graphic__content {
   display: flex;

   justify-content: space-between;
   padding: 0px 30px;
}

.graphic__content__img {
   display: flex;
   gap: 10px;
   /* align-items: center; */
   justify-content: space-between;
   padding: 10px;

}

.graphic__content__img img {

   border-radius: 20px;
}

.graphic__content__img img:first-child {
   border: none;
   border-radius: none;
}

.graphic__content__img__list {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}


/* GRAPHIC TITLE LIST--------------------------------------------- */
/* GRAPHIC TITLE LIST--------------------------------------------- */

.graphic__content__title__list {

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 30px;
   padding: 10px;
}


.description__list {
   margin-top: 0;
   padding-top: 0;
   border-bottom: 1px solid #0000001A;
}

.description__item--one {
   font-size: 40px;
   font-weight: 800;
   text-transform: uppercase;
}

.description__item__star>p {
   font-size: 20px;
}

.description__item__price__item {
   font-size: 30px;
   font-weight: 500;
}

.description__item--text--item {
   max-width: 510px;
   color: #00000099;
   font-size: 15px;
}

.selector__color {}

.selector__color__title, .choose__size__title {
   font-size: 16px;
   color: #00000099;
}

.selector__color__item {
   display: flex;
   align-items: center;
   gap: 1em;
   border-bottom: 1px solid #0000001A;
   padding: 0 0 20px 0;
}

.selector__color__circle {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   cursor: pointer;
   position: relative;
   transition: transform 0.2s, box-shadow 0.2s;
}

.selector__color__circle::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 20px;
   height: 20px;
   background: url('/img/galochla.svg');
   transform: translate(-50%, -50%) scale(0);
   transition: transform 0.2s ease;
}

.selector__color__circle.active::after {
   transform: translate(-50%, -50%) scale(1);
}

.dark__olive {
   background-color: #4F4631;
}

.dark__olive:hover {
   box-shadow: 0 4px 10px #4F4631,
      0 -5px 20px #4F4631;
}

/* .dark__olive.active {
   box-shadow: 0 4px 10px #4F4631,
      0 -5px 20px #4F4631;
} */

.deep__teal {
   background-color: #314F4A;
}

.deep__teal:hover {
   box-shadow: 0 4px 10px #314F4A,
      0 -5px 20px #314F4A;
}

/* .deep__teal.active {
   box-shadow: 0 4px 10px #314F4A,
      0 -5px 20px #314F4A;
} */

.charcoal__indigo {
   background-color: #31344F;
}

.charcoal__indigo:hover {
   box-shadow: 0 4px 10px #31344F,
      0 -5px 20px #31344F;
}

/* .charcoal__indigo.active {
   box-shadow: 0 4px 10px #31344F,
      0 -5px 20px #31344F;
} */

.choose__size__title {}

.choose__size__list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 15px;
   border-bottom: 1px solid #0000001A;
   padding: 0 0 20px 0;
}

.choose__size__item {}

.choose__size__item--btn {
   background-color: #F0F0F0;
   border-radius: 30px;
   width: 100px;
   border: none;
   outline: none;
   padding: 1em;
}

.choose__size__item--btn:hover {
   background: #000;
   color: #fff;
   transition: all .3s;
   box-shadow: 0 4px 10px #00000010,
      0 8px 20px #00000010;
}

.size__choose.active {
   background-color: #000;
   color: #fff;
   border-color: #00000010;
   box-shadow: 0 4px 10px #00000010,
      0 8px 20px #00000010;
}

.graphic__content__title__item {}

.one__more {
   display: flex;
   align-items: center;
   /* flex-wrap: wrap; */
   gap: 10px;
   justify-content: space-between;
}

.one__more__list {
   width: 90px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
   padding: 0 30px;
   background-color: #F0F0F0;
   border-radius: 30px;
}

.one__more__list:hover {
   box-shadow: 0 4px 10px #00000010,
      0 8px 20px #00000010;
   transition: all .3s;
}

.one__minust {
   cursor: pointer;
}

.one__more__item {}

.one__plus {
   cursor: pointer;
}


.one__more__btn {
   width: 100%;
   height: 50px;
   border: none;
   outline: none;
   border-radius: 30px;
   font-size: 19px;
}

.one__more__btn:hover {
   box-shadow: 0 4px 10px #00000040,
      0 8px 20px #00000040;
   transition: all .3s;
   background-color: #000;
   color: #fff;
}

.one__more__btn.active {
   box-shadow: 0 4px 10px #00000040,
      0 8px 20px #00000040;
   transition: all .3s;
   background: #000;
   color: #fff;
}



/* rating ------------------------------------------------------------- */
/* rating ------------------------------------------------------------- */

.rating__inner {
   margin-top: 7em;
   width: 100%;
}

.rating__content {
   padding: 10px 70px;
}

.rating__header {}

.rating__header__list {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #00000099;
}


.rating__header__item {
   font-size: 20px;
   padding: 15px;
   width: 100%;
   text-align: center;
   color: #00000099;
   cursor: pointer;

   transition: color 0.3s ease, border-bottom 0.3s ease;
   /* border-bottom: 1px solid transparent; */
}

.rating__header__item.active {
   color: #000;
   border-bottom: 2px solid black;
}

.rating__header__list {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #00000033;
}

.rating__header__item::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   height: 1px;
   width: 100%;
   transform: scaleY(0);
   transform-origin: bottom;
   transition: transform 0.3s ease;
}

.rating__header__item.active {
   color: #000;
}

.rating__header__item.active::after {
   transform: scaleY(1);
}


.rating__header__box {
   display: flex;
   align-items: center;
   margin-top: 2em;
   /* border: 1px solid red; */
}

.rating__header__title {
   font-size: 25px;
   width: 50%;
   display: flex;
   align-items: center;

}

.rating__header__title>span {
   color: #00000070;
   font-size: 16px;
   margin-left: 10px;
}

.rating__header__filter {
   display: flex;
   align-items: center;
   justify-content: end;
   gap: 20px;
   width: 100%;

}

.rating__header__filter>* {
   border: none;
   outline: none;
   width: 50px;
   height: 50px;
   background-color: #00000010;
   text-align: center;
}

.rating__header__filter>*:hover {
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15),
      0 8px 20px rgba(0, 0, 0, 0.1);
   transition: all .3s;
}

.rating__header__svg {
   border: none;
   outline: none;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   cursor: pointer;
   transition: background-color 0.3s;
}

.rating__header__svg:hover {
   background-color: #000;
}

.rating__header__svg:hover svg path {
   fill: white;
}

.rating__header__svg.active {
   background-color: #000;
}

.rating__header__svg.active svg path {
   fill: white;
}

.rating__header__select {
   width: 150px;
   border-radius: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 16px;
   gap: 10px;
}

.rating__header__select svg path {
   transition: fill 0.3s;
   fill: black;
}

.rating__header__select:hover {
   color: white;
   background-color: black;
}

.rating__header__select.active {
   color: white;
   background-color: black;
}

.rating__header__select:hover svg path {
   fill: white;
}

.rating__header__select.active svg path {
   fill: white;
}


.rating__header__review {
   border-radius: 30px;
   color: #000;
   background-color: #00000010;
   max-width: 200px;
   width: 100%;
   font-size: 16px;
}

.rating__header__review:hover {
   transition: all .3s;
   color: #fff;
   background-color: #000;
}

.rating__header__review.active {
   transition: all .3s;
   color: #fff;
   background-color: #000;
}

/* --------------------------------- comment */

.rating__body {
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-top: 30px;

}

.rating__body__list {
   /* border: 1px solid blue; */
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
}

.rating__body__list__item {
   border: 1px solid #00000030;
   width: 100%;
   height: 170px;
   border-radius: 30px;
   padding: 10px 20px;
}

.item__inside__list {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;

   justify-content: space-around;
}

.item__inside__list__item {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.item__inside__list__item>span {
   color: #00000050;
}

.item__inside__item__title {
   display: flex;
   align-items: center;
   font-size: 20px;
   font-weight: 800;
}

.item__inside__item__description {
   font-size: 13px;
   color: #00000080;
   max-width: 450px;
   width: 100%;

}

.item__inside__item__data {
   font-size: 16px;
   color: #00000080;
}


.rating__body__btn {
   display: block;
   margin: 2em auto 0;
}



/* 1450 ======================================================================= */
@media (max-width: 1450px) {
   /* .header__nav__menu__list {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1001;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 5em 20px 0 20px;
      background-color: #fff;
      width: 35%;
      height: 100vh;
      transform: translateX(-101%);
      transition: all .3s ease;
   }

   .header__nav__menu__list--open {
      transform: translateX(0%);
   } */

   .header__nav__menu__list {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1001;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 5em 20px 0 20px;
      background-color: #fff;
      width: 35%;
      height: 100vh;
      transform: translateX(-100%);
      transition: all .3s ease;
   }

   /* menu opened ===================================== */

   .header__nav__menu__list--open {
      transform: translateX(-11px);
      visibility: visible;
      opacity: 1;
      transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
         visibility 0s,
         opacity 0.3s ease;
   }

   /* section ========================================== */

   .main__aboutCart {
      padding: 0 10px;
   }

   .main__graphic>.container {
      padding: 0 10px;
   }

   .graphic__content {
      padding: 0;
   }

   .main__rating .container {
      padding: 0 10px;
   }

   .rating__inner {
      margin-top: 7em;
      width: 100%;
   }

   .rating__content {
      padding: 10px 0px;

   }
}

/* 1350 ======================================================================= */
@media (max-width: 1350px) {

   .main {
      margin-top: 3em;
   }

   .graphic__content__img {

      height: 530px;
   }

   .one__more {
      display: flex;
      margin-top: 20px;
   }
}

/* 1210 ======================================================================= */
@media (max-width: 1210px) {
   .graphic__content {
      display: flex;
      /* flex-direction: column; */
      /* flex-wrap: wrap; */

   }
}

/* 1160 ======================================================================= */
@media (max-width: 1160px) {


   .main__graphic>.container {
      padding: 0 10px;
   }

   .main__rating .container {
      padding: 0 22px;
   }

   .description__item--one {
      font-size: 34px;
   }
}

/* 1100 ======================================================================= */
@media (max-width: 1100px) {


   .graphic__content {
      display: flex;
      flex-direction: column;
   }

   .graphic__content__img {
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: row-reverse;
   }

   .graphic__content__img__list {
      height: 100%;
   }

   .graphic__content__title__list {
      margin-top: 20px;
      margin-left: 0;
      padding: 10px 20px;

   }
}

/* 1028 ======================================================================= */
@media (max-width: 1028px) {
   .rating__body__list__item {
      max-width: 600px;
      width: 100%;
      height: 160px;
      /* border: 1px solid #0000001A; */
      /* padding: 24px 30px; */
      border-radius: 30px;
   }


   .main__might>.heanding__text {
      font-size: 30px;
   }
}

/* 800 ======================================================================= */
@media (max-width: 800px) {


   .rating__header__title {
      width: 64%;

   }

   .rating__header__filter {
      gap: 10px;

   }

   .rating__header__svg {
      width: 40px;
      height: 40px;

   }

   .rating__header__select {
      width: 110px;
      height: 40px;
   }

   .rating__header__review {
      width: 150px;
      height: 40px;
   }
}

/* 720 ======================================================================= */
@media (max-width: 700px) {

   .graphic__content {
      display: flex;
      flex-direction: column;
   }

   .description__item--one {
      font-size: 24px;
   }

   .graphic__content__img {
      height: 100%;
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column-reverse;

   }

   .graphic__content__img>img {
      width: 100%;
   }

   .graphic__content__img__list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      gap: 10px;
   }

   .graphic__content__title__list {
      margin-top: 20px;
      margin-left: 0;
      padding: 10px 20px;

   }




   /* =========================================================== */

   .rating__body {}

   .rating__body__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
   }

   .rating__body__list__item {
      width: 100%;
      height: 170px;
      border-radius: 30px;
      padding: 14px;
   }

   .item__inside__list {

      display: flex;
      flex-direction: column;

      padding: 0px;
   }


   /* ===================================================== */

   .rating__header__list {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .rating__header__item {
      height: 100%;
      padding: 20px 8px;
      font-size: 14px;

   }

   .rating__header__item:last-child {
      width: 25%;
   }

   .rating__header__title {
      width: 80%;
      font-size: 19px;

   }

   .rating__header__title>span {
      font-size: 13px;
   }

   .rating__header__filter {
      gap: 10px;

   }

   .rating__header__svg {
      width: 40px;
      height: 40px;

   }

   .rating__header__svg>svg {
      width: 20px;
      height: 20px;
   }

   .rating__header__select {
      width: 110px;
      height: 40px;
      display: none;
   }

   .rating__header__review {
      width: 120px;
      height: 40px;
      font-size: 12px;
   }
}

@media (max-width: 560px) {

   .header__nav__menu__list {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1001;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 5em 20px 0 16px;
      background-color: #fff;
      width: 100%;
      height: 100vh;
      transform: translateX(-100%);
      transition: all .3s ease;
   }

   /* menu opened ===================================== */

   .header__nav__menu__list--open {
      transform: translateX(-1em);
      visibility: visible;
      opacity: 1;
      transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
         visibility 0s,
         opacity 0.3s ease;
   }

   .graphic__content__img {
      height: 100%;

   }

   .graphic__content__img>img {
      width: 100%;
      max-height: 290px;
      height: 100%;
   }

   .graphic__content__img__list {}

   .item_1 {
      display: none;
   }

   .item_2 {
      display: flex;
   }
}